* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}


/* main display of game board and buttons */
body {
    height: 300px;
    width: 300px
}

#gameContainer {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1px;

    height: 100%;
    width: 100%;
    background-color: black;
}

#gameContainer > .gameCell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    font-size: 2rem;
    height: 100%;
    width: 100%;
}

#bottomContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    gap: 20px
}

#bottomContainer > button {
    font-size: 1rem;
    padding: 10px;
}

#bottomContainer > #results {
    font-size: 2rem;
}

/* dialog display and elements */
#nameChangeDialog {
    height: 300px;
    width: 300px;

    padding: 10px;
}

#nameChangeDialog > *{
    padding: 10px;
}

#nameChangeDialog input {
    padding: 2px;
}

#nameChangeDialog button {
    padding: 5px;
}
